[user]
	email = benjamin.asals@gmail.com
	name = Ben Verna-Asals
[credential]
	helper = store
[pull]
	rebase = false
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[core]
	pager = delta
	editor = nvim
[mergetool]
	keepBackup = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	side-by-side = false
[diff]
	colorMoved = default
[push]
	autoSetupRemote = true
